@keyframes opacity {
    0%    { opacity: 0; }
    100%    { opacity: 1; }
}

/* Collapse channel list on small screen */
@media (min-width: 768px) {
    #channel_list {
      height: 54vh;
    }
}
@media (max-width: 767px) {
    #channel_list {
      height: 40px;
    }
}

body {
    background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #9E656B; /* Copper Rose */
}

#header {
    background-color: #CC8C94; /* Puce */
    margin-top: 5vh;
    height: 18vh;
    padding: 4vh;
}

#welcome {
    font-size: 8vh;
    animation-name: opacity;
    animation-duration: 3s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#sidebar {
    background-color: lightgrey;
    padding: 0;
}
#channel_form {
    text-align: center;
    height: 11vh;
    padding: 1vh;
}
#make_channel {
    margin-top: 3px;
}
#nav_title {
    font-weight: 600;
    font-size: 2.5vh;
    height: 6vh;
    padding: 1vh;
}
#channel_list {
    overflow-y: scroll;
    overflow-x: hidden;
    width: inherit;
    margin: 0;
}
#channel_list li {
    padding: 4px;
    list-style-type: none;
}
#channel_list a:hover, #channel_list a:active {
    color: grey;
}

#channel {
    background-color: white;
    padding: 0px;
    position: relative;
}
#channel_title {
    text-align: center;
    height: 5vh;
    font-size: 4vh;
}
#message_input {
    position: absolute;
    width: inherit;
    height: 5vh;
    bottom: 0;
}

/* Messages div */
#message_div {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 58vh;
    width: inherit;
}
/* Messages */
#channel_messages li {
    display: inline-block;
    width: calc(100% - 5px);
    list-style-type: none;
}
#channel_messages .sent p {
    float: right;
    background-color: #FCB8C0; /* Light Pink */
}
#channel_messages .reply p {
    float: left;
    background-color: whitesmoke;
}
#channel_messages .admin p {
    float: left;
    background-color: lightgrey;
    color: black;
}
#channel_messages li p {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 0rem;
}

.validation_message {
    color: red;
    font-weight: 600;
}

/* Font awesome icons */
.fas {
    color: white;
}
.fa-times-circle {
    padding-left: 15px;
}
.fa-volume-up, .fa-volume-off {
    position: fixed;
    top: 15px;
    left: 15px;
}

::selection {
    color: white;
    background-color: black;
}

/* * * * * * *
* Blurred background modal
*
* Base on example by webprogramoz:
* https://gist.github.com/webprogramozo/9684826e469e5dc375e98f65559e1509
* * * * * * */
.modal-open > :not(.modal) {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}