body {
    background-color: #D3BAC1;
}

/* Override Bootstrap's 100% width for form controls */
form {
    width: auto;
    display: inline-block;
}

.jumbotron {
    background-color: #b58b97;
}

#username_validation {
    color: red;
    font-weight: 600;
}