@keyframes opacity {
    0%    { opacity: 0; }
    100%    { opacity: 1; }
}

@media (min-width: 768px) {
    #channel_list {
      height: 54vh;
    }
}
@media (max-width: 767px) {
    #channel_list {
      height: 40px;
    }
}

body {
    background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #9E656B; /* Copper rose */
}

#header {
    background-color: #CC8C94; /* Puce */
    margin-top: 5vh;
    height: 18vh;
    padding: 4vh;
}

#welcome {
    font-size: 8vh;
    animation-name: opacity;
    animation-duration: 3s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#sidebar {
    background-color: lightgrey;
    padding: 0;
}
#channel_form {
    text-align: center;
    height: 11vh;
    padding: 1vh;
}
#create_channel {
    margin-top: 3px;
}
#nav_title {
    font-weight: 600;
    font-size: 2.5vh;
    height: 6vh;
    padding: 1vh;
}
#channel_list {
    overflow-y: scroll;
    overflow-x: hidden;
    width: inherit;
    margin: 0;
}
#channel_list a:hover, #channel_list a:active {
    color: grey;
}

#channel {
    background-color: white;
    padding: 0px;
    position: relative;
}
#channel_title {
    text-align: center;
    height: 5vh;
    font-size: 4vh;
}
#message_div {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 58vh;
    width: inherit;
}
#message_input {
    position: absolute;
    width: inherit;
    height: 5vh;
    bottom: 0;
}

ul {
    list-style-type: none;
}
ul li {
    padding: 8px;
}

.validation_message {
    color: red;
    font-weight: 600;
}

::selection {
    color: white;
    background-color: #9E656B;
}

/*
* Blurred background modal
*
* Base on example by webprogramoz:
* https://gist.github.com/webprogramozo/9684826e469e5dc375e98f65559e1509
*/
.modal-open > :not(.modal) {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}